---
import { getCollection } from 'astro:content';

const team = (await getCollection('team')).sort(
	(a,b) => (b.data.prio ?? 0) - (a.data.prio ?? 0)
);
---

<style>
	p {
	margin: 0;
	padding: 0;
	background-color: rgb(var(--gray-dark));
	width: fit-content;
	}
</style>
<section id="team" class="index-section gap-5">
	<h1>meet the team</h1>
	<ul class="grid grid-cols-4 gap-10 px-10">
		{
			team.map((t) => (
				<li class="flex flex-row items-start justify-center">
					<div class="flex flex-col gap-2 items-center">
						<h4 class="leading-3">{t.data.name}</h4>
						<b class="font-black text-center text-sm">{t.data.title}</b>

						<div class="flex flex-col gap-2 items-center">
							<p>{t.data.email}</p>
							<p>{t.data.socials}</p>
						</div>
					</div>
				</li>
			))
		}
	</ul>
</section>
