---
import { Image } from "astro:assets";
import HeaderLink from './HeaderLink.astro';
import ArgenLogo from "../assets/branding/argen_text.png";

const {} = Astro.props;
---

<script>
	window.addEventListener("scroll", () => {
		const curr = window.scrollY;

		const header = document.getElementById("header")
		if (header) {
			header.className = `fixed ${curr > 150 ? 'opacity-100' : 'opacity-0 pointer-events-none'} top-0 w-full transition-all`;
		}
	});
</script>

<header id="header" class="fixed opacity-0 top-0 w-full pointer-events-none">
	<nav>
		<a href="/">
			<Image src={ArgenLogo} alt="Argumentative Engineering" class="w-32" />
		</a>
		<div class="internal-links">
			<HeaderLink href="#hero">home</HeaderLink>
			<HeaderLink href="#projects">projects</HeaderLink>
			<HeaderLink href="#team">team</HeaderLink>
			<!-- <HeaderLink href="/blog">blog</HeaderLink> -->
		</div>
	</nav>
</header>

<style>
	header {
		margin: 0;
		padding: 0 1em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.social-links,
	.social-links a {
		display: flex;
	}
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
