---
import {Image} from "astro:assets"
import Logo from "../assets/branding/argen_logo_transparent.png";
---

<div class="flex flex-row items-center justify-center w-full bg-white py-2 gap-5">
  <Image src={Logo} class="w-32" alt="" />
  <h1 class="!text-black">GAMES WITH CLAWS. STORIES WITH TEETH.</h1>
</div>
