---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<section id="projects" class="index-section items-center gap-3">
    <h1>projects</h1>
    <ul class="grid grid-cols-2 m-0 p-0 gap-2">
    {
        projects.map((p) => (
            <li class="animate-fade animate-once">
                <a class="flex flex-col gap-2" href={`/projects/${p.id}/`}>
                    {p.data.image && (
                        <Image width={720} height={360} src={p.data.image} alt="" />
                    )}
                    <h4>{p.data.title}</h4>
                    <div class="flex flex-row items-center gap-2">
                        {p.data.tags?.map((t) => (
                        <p class="text-white text-sm outline rounded-full w-fit px-3 py-1">{t}</p>
                        ))}
                    </div>
                </a>
            </li>
        ))
    }
    </ul>
</section>
